In [1]:
# General Utilites
import os
import numpy as np
import pandas as pd
import random
import yaml
import matplotlib
from matplotlib import pyplot as plt
import matplotlib.image as mpimg
%matplotlib inline
matplotlib.rcParams['figure.figsize'] = [20, 20]
from PIL import Image
from shutil import copyfile
import shutil
from IPython.display import clear_output

In [3]:
with open("create_scoring_df.yaml", "r") as input_stream: ### set input files
    settings = yaml.load(input_stream, Loader=yaml.FullLoader)
input_dir = f'{settings["input_dir"]}'
df_output_path = f'{settings["df_output_path"]}'

In [4]:
scoring_df = pd.DataFrame({"Filename" : os.listdir(input_dir)})
def get_filepath(row):
    return f"{input_dir}/{row['Filename']}"
scoring_df["Filepath"] = scoring_df.apply(lambda row: get_filepath(row), axis=1)
scoring_df.head(10)

               Filename                                           Filepath
0        NHA-704589.jpg  /home/ajj38/project/Tony_Herbarium/Data/Croppe...
1  barcode-01040284.jpg  /home/ajj38/project/Tony_Herbarium/Data/Croppe...
2       UVMVT069958.jpg  /home/ajj38/project/Tony_Herbarium/Data/Croppe...
3            344117.jpg  /home/ajj38/project/Tony_Herbarium/Data/Croppe...
4            417458.jpg  /home/ajj38/project/Tony_Herbarium/Data/Croppe...
5      CONN00156671.jpg  /home/ajj38/project/Tony_Herbarium/Data/Croppe...
6       UVMVT126651.jpg  /home/ajj38/project/Tony_Herbarium/Data/Croppe...
7  barcode-00627605.jpg  /home/ajj38/project/Tony_Herbarium/Data/Croppe...
8     MAINE00044640.jpg  /home/ajj38/project/Tony_Herbarium/Data/Croppe...
9           2442055.jpg  /home/ajj38/project/Tony_Herbarium/Data/Croppe...

In [5]:
status_list = ["Reproductive", "Flowering", "Fruiting", "Budding"]

for status in status_list:
    scoring_df.loc[:,f"{status} Status"] = float("NaN")

print(f"Total Number of imageS: {len(scoring_df)}")


scoring_df.loc[:,"Scored"] = False

Total Number of imageS: 108

In [6]:
scoring_df.head(10)

,Filename,Filepath,Reproductive Status,Flowering Status,Fruiting Status,Budding Status,Scored
0,NHA-704589.jpg,/home/ajj38/project/Tony_Herbarium/Data/Croppe...,NaN,NaN,NaN,NaN,False
1,barcode-01040284.jpg,/home/ajj38/project/Tony_Herbarium/Data/Croppe...,NaN,NaN,NaN,NaN,False
2,UVMVT069958.jpg,/home/ajj38/project/Tony_Herbarium/Data/Croppe...,NaN,NaN,NaN,NaN,False
3,344117.jpg,/home/ajj38/project/Tony_Herbarium/Data/Croppe...,NaN,NaN,NaN,NaN,False
4,417458.jpg,/home/ajj38/project/Tony_Herbarium/Data/Croppe...,NaN,NaN,NaN,NaN,False
5,CONN00156671.jpg,/home/ajj38/project/Tony_Herbarium/Data/Croppe...,NaN,NaN,NaN,NaN,False
6,UVMVT126651.jpg,/home/ajj38/project/Tony_Herbarium/Data/Croppe...,NaN,NaN,NaN,NaN,False
7,barcode-00627605.jpg,/home/ajj38/project/Tony_Herbarium/Data/Croppe...,NaN,NaN,NaN,NaN,False
8,MAINE00044640.jpg,/home/ajj38/project/Tony_Herbarium/Data/Croppe...,NaN,NaN,NaN,NaN,False
9,2442055.jpg,/home/ajj38/project/Tony_Herbarium/Data/Croppe...,NaN,NaN,NaN,NaN,False

In [7]:

scoring_df.to_csv(df_output_path)